@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scroll-smooth {
    scroll-behavior: smooth;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
}